/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";
.root {
  position: absolute;
  left: 40%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-1;
  color: $color-3;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  margin-top: 10px;
  .label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }

  .year {
    font-weight: bold;
    font-size: 24px;
  }
}
