/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";
$top-margin: 69px;
$bottom-margin: 30px;

.legend {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: $top-margin;
  z-index: 1;
  background: rgba($color-3, 0.8);
  transition: max-width .2s, right .2s ease-out;
  max-height: calc(100vh - #{$top-margin} - #{$bottom-margin});
  display: flex;
  max-width: 0;

  &.open {
    max-width: 300px;
  }

  .toggle-legend-btn {
    align-items: center;
    background: rgba($color-3, .8);
    border-radius: 50% 0 0 50%;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    left: -3rem;
    position: absolute;
    top: 0;
    width: 3rem;

    .info-icon {
      transform: rotate(180deg);
      font-size: 30px;
    }
  }

  .fields-loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .legend-content {
    min-height: 100px;

    h3 {
      font-weight: normal;
    }

    .scale-legend {
      .scale-header {
        font-size: 1.8rem;
        margin: 0;
        white-space: pre;
        padding: 1.5rem 0 1rem 0;
      }

      .summary {
        margin-top: 14px;

        .legend-summary-line {
          display: flex;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;

          .description {
            flex-grow: 1;
            padding-right: 3px;
          }
        }
      }

      .legend-note {
        margin-top: 14px;
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}

.legend-container {
  padding: 0 10px 10px 10px;
}

.legend-header {
  font-size: 18px;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 45px;
  display: flex;
  align-items: center;
  font-weight: normal;
}

.legend-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .value {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    span {
      margin-left: 1px;
    }
  }
}

.color {
  border-radius: 50%;
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin-right: 5px;
  flex-shrink: 0;
  border: 2px solid #666666;
}

.color-square {
  height: 20px;
  width: 30px;
  flex-shrink: 0;
  margin: 0 (5px / 2) 1px 0;
}

.info-line {
  line-height: 30px;
  white-space: nowrap;
}

.info-multi-line {
  white-space: pre-line;
  line-height: 1.25;
}
