<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<div class="legend" [ngClass]="{'open': isLegendVisible}" [style.width.px]="width" [style.height.px]="height" *ngIf="(settings$ | async) as settings">
  <div class="toggle-legend-btn" id="e2e-map-legend" (click)="onToggleLegend()">
    <i class="material-icons info-icon">error_outline</i>
  </div>
  <div *ngIf="isLegendVisible" class="scroll-y legend-content">
    <div class="scale-legend legend-container">
      <h3 class="scale-header">{{settings.title === 'Unknown' ? '' : settings.title}}</h3>
      <div>
        <div class="legend-item" *ngFor="let item of settings.items">
          <div class="color-square" [ngStyle]="{'background-color': item.color}">&nbsp;</div>
          <div class="value">
            <span class="text">{{item.text}} </span>
          </div>
        </div>
      </div>
      <div class="summary">
        <div class="legend-summary-line" *ngFor="let summaryLine of settings.summaryLines">
          <span class="description">{{summaryLine.description}}</span> {{summaryLine.quantity | number: '1.0-0'}} {{summaryLine.unit}}
        </div>
      </div>
      <div class="legend-note">{{settings.note}}</div>
    </div>
  </div>
</div>
