<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<div #myModal class="container">
  <div class="content">
    <div class="row">
      <label>FarmId:</label>
      <input type="number" [value]="farmId$ | async" #farmId>
    </div>
    <div class="row">
      <label>HarvestYear:</label>
      <input type="number" [value]="harvestYear$ | async" #harvestYear>
    </div>
    <div class="buttons">
      <button (click)="changeFarmIdAndHarvestYear(farmId.value, harvestYear.value)">Save</button>
      <button (click)="close()">Close</button>
    </div>
  </div>
  </div>
