/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-2;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: $color-1;
    img {
      height: 90px;
    }
    .not-visible {
      width: 30px;
      height: 60px;
    }
  }

  .body {
    flex-grow: 1;
  }
}
