<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<div class="root">
  <div class="header">
    <div class="not-visible"></div>
    <img src="assets/images/logo-niva-white.png">
    <div class="not-visible" (click)="openModal()">
    </div>
  </div>
  <div class="body">
    <app-task-table [title]="'Tasks awaiting sharing'" [tasks$]="tasks$" (taskSelect)="onTaskSelect($event )"></app-task-table>
    <app-task-table [title]="'Tasks shared with Paying Agency'" [tasks$]="approvedTasks$" [showSelected]="false"></app-task-table>
  </div>
  <app-farm-id-modal #modal></app-farm-id-modal>
</div>
