/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-2;

  .header {
    background-color: $color-1;
    color: $color-3;
    padding: 0 32px;
  }

  .body {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
  }
}

.footer {
  background-color: $color-1;
  color: $color-3;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    h2 {
      transform: scale(1.075);
    }
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    transition: transform 200ms ease-in-out;
    margin: 0;
  }
}

.loading {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .back-drop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
  }

  .message {
    position: relative;
    z-index: 2;
  }
}
