<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<div class="root">
  <div class="header">
    <h2>As applied</h2>
  </div>
  <div class="body">
    <app-validation [hidden]="isValidating$ | async" [task$]="task$" [eCropReceipt$]="eCropReceipt$" [eCropReport$]="eCropReport$"></app-validation>
    <div class="loading" *ngIf="isValidating$ | async">
      <div class="back-drop">&nbsp;</div>
      <div class="message">Loading</div>
    </div>
  </div>
  <div class="footer" (click)="onSendClick()">
    <h2>send to Paying Agency</h2>
  </div>
</div>
