<div class="root">
  <h3 class="task-validation">Validation</h3>
  <!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
  <div *ngIf="(task$|async) as task">
    <div *ngIf="!!task.validations && task.validations.length > 0; else nivaECropReceipt">
      <p class="validation-message"><i class="material-icons invalid">close</i>The task has errors and does not meet the criteria</p>
    </div>
    <ng-template #nivaECropReceipt >
      <div class="validation-meta" *ngIf="(eCropReceipt$ | async) as eCropReceipt">
        <table>
          <tbody>
            <tr>
              <td class="label">Sender</td>
              <td>{{eCropReceipt.sender}}</td>
            </tr>
            <tr>
              <td class="label">Recipient</td>
              <td>{{eCropReceipt.recipient}}</td>
            </tr>
            <tr>
              <td class="label">Purpose for data sharing</td>
              <td>{{eCropReceipt.purpose}}</td>
            </tr>
            <ng-container *ngFor="let cropPlot of eCropReceipt.cropPlot">
              <tr *ngFor="let cropPlot of eCropReceipt.cropPlot">
                <td class="label">Field number</td>
                <td>{{cropPlot.fieldNumber}}</td>
              </tr>
              <tr *ngIf="(eCropReport$ | async) as eCropReport">
                <td class="label">Field area</td>
                <td>{{ eCropReport.eCropReportMessage.agriculturalProducerParty.agriculturalProductionUnit.specifiedCropPlots[0].areaMeasure / 10000 | number: '1.2-2'}} ha</td>
              </tr>
              <tr>
                <td class="label">Application year</td>
                <td>{{cropPlot.year}}</td>
              </tr>
              <tr class="application-date">
                <td class="label">Application date</td>
                <td>
                  <div class="application-date-value">
                    <div>{{cropPlot.appliedList[0].applicationDate | date: 'dd-MM-yyyy'}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">Legislation crop</td>
                <td>{{cropPlot.legislationCrop}}</td>
              </tr>
              <tr>
                <td class="label">Crop</td>
                <td>{{task.crop}}</td>
              </tr>
              <tr>
                <td class="label">Product</td>
                <td>{{task.product}}</td>
              </tr>
              <tr *ngIf="eCropReceipt.purpose === 'Sowing Catch Crop'" class="crop-constituents">
                <td class="label">Crop constituents</td>
                <td>
                  <div class="crop-constituents-value">
                    <i class="material-icons valid">done</i>
                    <div>
                      <div *ngFor="let cropName of cropPlot.cropConstituents" >{{cropName}}</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="eCropReceipt.purpose === 'Spreading Mineral Fertilizer'">
                <td class="label">Average application rate</td>
                <td>{{ cropPlot.descriptiveStatistics.mean.value | number: '1.0-0' }} {{ cropPlot.descriptiveStatistics.mean.unit === 'Unknown' ? '' : cropPlot.descriptiveStatistics.mean.unit }}</td>
              </tr>
              <tr *ngIf="eCropReceipt.purpose === 'Spreading Mineral Fertilizer'">
                <td class="label">Maximum application rate</td>
                <td>{{ cropPlot.descriptiveStatistics.maximum.value | number: '1.0-0' }} {{ cropPlot.descriptiveStatistics.maximum.unit === 'Unknown' ? '' : cropPlot.descriptiveStatistics.maximum.unit }}</td>
              </tr>
              <tr *ngIf="eCropReceipt.purpose === 'Spreading Mineral Fertilizer'">
                <td class="label">Minimum application rate</td>
                <td>{{ cropPlot.descriptiveStatistics.minimum.value | number: '1.0-0' }} {{ cropPlot.descriptiveStatistics.minimum.unit === 'Unknown' ? '' : cropPlot.descriptiveStatistics.minimum.unit }}</td>
              </tr>
              <tr *ngIf="eCropReceipt.purpose === 'Spreading Mineral Fertilizer'">
                <td class="label">Coefficient of variation</td>
                <td>{{ cropPlot.descriptiveStatistics.coefficientVariation.value | number: '1.0-0' }} {{ cropPlot.descriptiveStatistics.coefficientVariation.unit === 'Unknown' ? '' : cropPlot.descriptiveStatistics.coefficientVariation.unit }}</td>
              </tr>
              <!-- 20211130 uncommented until area calculation is specified for point data -->
              <!-- <ng-container *ngFor="let oneAppliedList of cropPlot.appliedList">
                <tr *ngIf="eCropReceipt.purpose === 'Sowing Catch Crop'">
                  <td class="label">Area applied total</td>
                  <td>{{oneAppliedList.areaAppliedTotal / 10000 | number: '1.2-2'}}</td>
                </tr>
                <tr *ngIf="eCropReceipt.purpose === 'Sowing Catch Crop'">
                  <td class="label">Average application rate</td>
                  <td>{{ oneAppliedList.averageApplicationRate | number: '1.0-0' }}</td>
                </tr>
              </ng-container> -->
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
