/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";

.root {
  padding: 10px;
  box-shadow: $box-shadow-6;
  background-color: $color-3;

  .task-validation {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 10px;
  }

  .validation-message {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 25px;
  }

  .validation-meta {
    font-size: 14px;
    display: flex;
    padding-left: 25px;

    .crop-constituents {
      .validation-text {
        display: flex;
        align-items: center;

        .material-icons {
          font-size: 20px;
        }
      }
    }

    td {
      padding: 5px;

      &.label {
        max-width: 120px;
        font-weight: bold;
      }
    }
  }

  .application-date,
  .crop-constituents {

    .application-date-value,
    .crop-constituents-value {
      display: flex;
      align-items: center;
    }
  }

  .material-icons {
    margin-right: 10px;

    &.valid {
      color: $color-1;
    }

    &.invalid {
      color: $color-7;
      margin-right: 10px;
    }

    &.warning {
      color: orange;
    }
  }
}
