<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<h2 class="title">{{title}}</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Product</th>
        <th>Crop</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks$ | async" (click)="onTaskSelect(task)" [ngClass]="{'selected': isSelected(task)}">
        <td>{{task.date | date: 'dd-MM-yyyy'}}</td>
        <td class="product">{{task.product}}</td>
        <td class="crop">{{task.crop}}</td>
      </tr>
    </tbody>
  </table>
</div>
