/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";

.title {
  margin: 0;
  background-color: $color-4;
  padding: 14px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $color-6;
}

.table-wrapper {

  table {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
    color: $color-6;

    thead {
      text-transform: uppercase;
      border-bottom: 1px solid black;
      font-size: 12px;
    }

    tbody tr {
      transition: background-color 200ms ease-in-out;
      cursor: pointer;
      &:hover {
        color: $color-3;
        background-color: $color-5;
      }

      &.selected {
        color: $color-3;
        background-color: $color-1;
      }
    }

    td, th {
      text-align: center;
      padding: 12px 10px;

      &.product, &.crop {
        font-weight: bold;
      }
    }
  }
}


