<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<app-harvest-year></app-harvest-year>
<app-legend [settings$]="legendSettings$"></app-legend>
<app-map-zoom (zoomIn)="onZoomIn()" (zoomOut)="onZoomOut()"></app-map-zoom>

