/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";

.root {
  display: flex;
  height: 100%;

  .center {
    flex-grow: 1
  }

  .left,
  .right {
    width: 400px;
    height: 100%;
  }
}

.loading {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .back-drop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
  }

  .message {
    position: relative;
    z-index: 2;
  }
}

.toast {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 40%;
  width: 400px;
  height: 50px;
  background-color: $color-3;
  border: 2px solid $color-1;
  color: $color-1;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
