<!--
  Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
  This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
  All rights reserved

  Project and code is made available under the EU-PL v 1.2 license
-->
<div class="root">
  <div class="left">
    <app-left-side [tasks$]="tasks$" [approvedTasks$]="approvedTasks$" (taskSelect)="onTaskSelect($event)"></app-left-side>
  </div>
  <div class="center">
    <app-center [eCropReport$]="eCropReport$" [tasks$]="tasks$"></app-center>
  </div>
  <div class="right">
    <app-right-side [task$]="selectedTask$" [eCropReceipt$]="eCropReceipt$" [eCropReport$]="eCropReport$" [isValidating$]="isValidating$" (approve)="onApprove()"></app-right-side>
  </div>
</div>
<div class="toast" *ngIf="isToastVisible">{{toastMessage}}</div>
<div class="loading" *ngIf="isLoading">
  <div class="back-drop">&nbsp;</div>
  <div class="message">Loading</div>
</div>
