/*
* Copyright (c) RVO: Ministerie van Economische Zaken en Klimat NL, SEGES: Landbrug & Fodevarer F.M.B.A. DK 2019--2021.
 * This file belongs to subproject WP2 Use Case 4b of project NIVA (www.niva4cap.eu)
 * All rights reserved
 *
 * Project and code is made available under the EU-PL v 1.2 license
*/
@import "~styles/colors";
.root {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;

  .zoom-btn {
    cursor: pointer;
    background-color: $color-1;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $color-3;

    &.out {
      margin-top: 10px;
    }
  }
}
